* {
  margin: 0;
  padding: 0;
}

div.container {
  width: 400px;
  height: 100px;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  overflow: hidden;
}

h1.titulo {
  width: 100%;
  font: bold 40px Arial, sans-serif;
  line-height: 100px;
  text-align: center;
  position: absolute;
  top: 100%;
  animation: v-translate 8s linear infinite;
}

h1:nth-child(1) {
  color: #0080e9;
  animation-delay: -0.4s;
}

h1:nth-child(2) {
  color: #00a767;
  animation-delay: 1.6s;
}

h1:nth-child(3) {
  color: #7809d3;
  animation-delay: 3.6s;
}

h1:nth-child(4) {
  color: #ff7300;
  animation-delay: 5.6s;
}

@keyframes v-translate {
  0% {
    top: 100%;
  }

  5% {
    top: 0;
  }

  25% {
    top: 0;
  }

  30% {
    top: -100%;
  }

  100% {
    top: -100%;
  }
}

