input {
  appearance: none;
  height: 50px;
  width: 100px;
  background-color: #ddd;
  box-shadow: inset 2px 2px 10px 4px #0001, 0.5px 0.5px 2px #0004;
  border-radius: 25px;
  outline: none;
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  transition: background-color 500ms;
}

input:checked {
  background-color: #1d6;
  transition: background-color 500ms;
}

input::before {
  content: "";
  height: 100%;
  width: 50%;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: inset 0 0 5px 1px #0001, 0 0 2px 1px #0002;
  position: absolute;
  left: 0;
  top: 0;
  transition: left 250ms;
}

input:checked::before {
  left: 50%;
  transition: left 250ms;
}