.container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

#text {
  font-size: 20px;
}

.bar {
  animation: animate 0.5s infinite linear;
}

@keyframes animate {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}