div.image-container {
  width: 480px;
  height: 270px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px #0008;
  overflow: hidden;
}

div.image-container > img {
  width: 100%;
  height: 100%;
  transition: transform 500ms;
}

div.image-container:hover > img {
  transform: scale(1.1);
  transition: transform 500ms;
}