* {
  padding: 0;
  margin: 0;
  background-color: rgb(31, 31, 31);
}

form.register {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

div.section {
  width: 560px;
  height: 40px;
  position: relative;
}

div.section:nth-child(1) {
  margin-bottom: 60px;
}

input.input-form {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 3px solid rgb(160, 160, 160);
  outline: none;
  font: normal 24px Arial, sans-serif;
  color: rgb(179, 179, 179);
  transition: border-bottom-color 500ms;
}

input.input-form + label {
  position: absolute;
  top: 0;
  left: 0;
  font: normal 24px Arial, sans-serif;
  color: #888;
  line-height: 40px;
  pointer-events: none;
  transition: 500ms;
}

input.input-form:focus,
input.input-form:valid {
  border-bottom-color: rgb(102, 112, 255);
}

input.input-form:focus + label,
input.input-form:valid + label {
  top: -70%;
  font-size: 16px;
  color: rgb(102, 112, 255);
}