body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

div.loading {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: 6px solid #fff1;
  border-radius: 50%;
  border-top: 6px solid #fff;
  border-right: 6px solid #fff;
  animation: rotate 1s linear infinite;
}

div.loading2 {
  width: 100px;
  height: 100px;
  margin-left: 100px;
  background-color: transparent;
  border: 6px solid #fff1;
  border-radius: 50%;
  border-top: 6px solid #fff;
  border-bottom: 6px solid #fff;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}