* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("efeitozoom.jpg");
  background-size: cover;
  background-attachment: fixed;
}

p {
  font: normal 16px Arial, sans-serif;
  color: rgb(209, 209, 209);
  margin-top: 40px;
}

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #26292c;
  z-index: -1;
}

.open-modal {
  margin: 16px;
  padding: 8px;
  font: normal 24px Arial, sans-serif;
  color: rgb(221, 221, 221);
  background-color: #5a17a7;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  transition: background-color 200ms, box-shadow 200ms;
}

.open-modal:hover {
  background-color: #7b35ca;
  box-shadow: 0 0 8px rgb(63, 63, 63);
}

.modal {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: #0008;
  backdrop-filter: blur(8px);
  z-index: 1;
}

.modal-content {
  width: 800px;
  height: 600px;
  padding: 30px;
  border-radius: 20px;
  background-color: #3f3f3f;
  box-shadow: 0 0 20px rgba(43, 43, 43, 0.233);
  position: relative;
}

.modal-content > h1 {
  font: bold 40px Arial, sans-serif;
  color: rgb(220, 220, 220);
}

.modal-content > .close-modal {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: #ccc;
  border: none;
  border-radius: 20%;
  outline: none;
  font: bold 30px Arial, sans-serif;
  color: rgb(104, 50, 50);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 300ms, color 350ms;
}

.modal-content > .close-modal:hover {
  background-color: #ddd;
  color: #fa1313;
}

